<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
<head>
<meta charset="utf-8" />
<title>{% block title %}icingcake{% endblock %}</title>
<style>
body { font-family: sans-serif; }
table { border: 1px solid #999; }
table th, table td { border: 1px solid #999; vertical-align: top; padding: 0.2em 0.4em; }
table th { background-color: #333; color: #fff; }
td.output { white-space: pre; }
td.state { background-color: #b5ffff; }
td.state.state-0 { background-color: #96f9c0; }
td.state.state-1 { background-color: #ffe0a4; }
td.state.state-2 { background-color: #ffcdd5; }
td.state.state-3 { background-color: #e7bfff; }
</style>
<script type="text/javascript" src="static/script.js"></script>
{% block addhead %}
{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
