<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
<head>
<meta charset="utf-8" />
<title>{% block title %}icingcake{% endblock %}</title>
<style>
body { font-family: sans-serif; }
table { border: 1px solid #999; }
table th, table td { border: 1px solid #999; vertical-align: top; padding: 0.2em 0.4em; }
table th { background-color: #333; color: #fff; }
</style>
<script type="text/javascript" src="static/script.js"></script>
{% block addhead %}
{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
